
<form method="get" asp-page="search">
    <div class="col-md-6">
        <div class="search">
            <input type="text" name="keyword" placeholder="Search" style="width:28rem">
            <button type="submit"><i class="fa fa-search" style="margin-left:15rem"></i></button>
        </div>
    </div>
</form>