@page
@model WebCarFist.Areas.Admin.Pages.EditCategoryModel
@{
    ViewData["Title"] = "Edit Category";
    Layout = "~/Areas/Admin/Pages/Shared/_AdminLayout.cshtml";
}
<div class="card-body">
    <form method="post" asp-page="editcategory">
        <div class="form-group">
            <label class="small mb-1 text-center font-weight-bold">Edit Category</label>

        </div>
        <div class="form-group">
            <label class="small mb-1">Category Name</label>
            <input class="form-control py-4" type="text" asp-for="@Model.category.Name" required="required" />
        </div>
        <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">

            <button class="btn btn-primary" type="submit">Save</button>
            <input type="hidden" asp-for="@Model.category.Id" />
        </div>

    </form>
</div>