      <div class="header-slider-item">
            <img src="~/product/oto.jpg.png" alt="Slider Image" />
        </div>
        <div class="header-slider-item">
            <img src="~/product/oto1.jpg" alt="Slider Image"/>
        </div>
