      <div class="header-slider-item">
            <img src="~/product/car5.jpg" alt="Slider Image" />
        </div>
        <div class="header-slider-item">
            <img src="~/product/car3.jpg" alt="Slider Image"/>
        </div>
