@page
@model WebCarFist.Pages.ThanksModel
@using WebCarFist.Models
@{
    ViewData["Title"] = "Thanks";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<div class="breadcrumb-wrap">
    <div class="container-fluid">
        <ul class="breadcrumb">
            <li class="breadcrumb-item"><a asp-page="index">Home</a></li>
            <li class="breadcrumb-item active">Thanks</li>
        </ul>
    </div>
</div>