<div class="col-md-3">
    <div class="user">
        <a asp-page="Cart" class="btn cart">
            <i class="fa fa-shopping-cart"></i>
            <span>[@ViewBag.CoutItems]</span>
        </a>
    </div>
</div>